node_modules
dist
vendor
pnpm-lock.yaml
CHANGELOG.md
packages/protocol/src/generated
packages/protocol/fixtures/stream
playground/public/build
playground/storage
docs/.vitepress/cache
docs/.vitepress/dist
docs/propmts.md
docs/PLAN.md
playground/vendor
playground/storage
playground/bootstrap/cache
playground/database/*.sqlite
packages/laravel/vendor
packages/laravel/.phpstan
packages/laravel/.phpunit.cache
**/composer.json
